@import './root.css';

/* login, register pages */

main form .group-input input:focus {
    border-color: var(--color-3);
}

main form button {
    &:hover {
        color: var(--color-3);
    }

    &:active {
        color: var(--color-3);
        border-color: var(--color-3);
    }
}

main form a {
    &:hover {
        color: var(--color-2);
    }
}


/* profile page */

main .information .title .change:hover {
    color: var(--color-2);
}

main .information .value form .cancel-btn:hover {
    color: var(--color-3);
}
