@import './root.css';

@media screen and (max-width: 640px) {
    :root {
        --font-size: 6px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --font-size: 8px;
    }
}


@media screen and (max-width: 1024px) {
    :root {
        --font-size: 10px;
    }
}

@media screen and (max-width: 1280px) {
    :root {
        --font-size: 12px;
    }
}

@media screen and (max-width: 1536px) {
    :root {
        --font-size: 14px;
    }
}
