:root {
    --font-size: 16px;
}

:root, :root[theme='light'] {
    --color-1: white;
    --color-2: black;
    --color-3: oklch(48.8% 0.243 264.376);
    --color-4: oklch(70.7% 0.165 254.624);
    --color-5: gray;
    --color-6: oklch(97% 0.014 254.604);
}

:root[theme='dark'] {
    --color-1: black;
    --color-2: white;
    --color-3: oklch(70.7% 0.165 254.624);
    --color-4: oklch(48.8% 0.243 264.376);
    --color-5: gray;
    --color-6: oklch(28.2% 0.091 267.935);
}
