@import './root.css';
@import './variables.css';
@import './fonts.css';
@import './media.css';

@import 'tailwindcss';

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a, p, label, input, textarea {
    font-family: 'Open Sans', sans-serif;
}

header .links a:hover {
    color: var(--color-2);
}
